@use "./variables" as *;

.listing-card {
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;

  &:hover {
    @include shadow;
  }

  .slider-container {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;

    .slider {
      display: flex;
      transition: transform 0.5s ease;

      .slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        height: 270px;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          filter: brightness(85%);
        }

        .prev-button,
        .next-button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 6px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 9999;

          &:hover {
            background-color: white;
          }
        }

        .prev-button {
          left: 10px;
        }

        .next-button {
          right: 10px;
        }
      }
    }
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  span {
    font-weight: 700;
    font-size: 18px;
  }

  .favorite {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
    background: none;
  }

  .delete-button {
    background-color: #ff4d4f; /* Red for delete action */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Add padding */
    font-size: 14px; /* Text size */
    font-weight: bold; /* Bold text for emphasis */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 10px; /* Add space around the button */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  }

  .delete-button:hover {
    background-color: #d9363e; /* Darker red on hover */
    transform: scale(1.05); /* Slightly enlarge button */
  }

  .delete-button:active {
    background-color: #a8071a; /* Even darker red on active click */
    transform: scale(1); /* Reset scale on click */
  }
}
